<<<<<<< HEAD
body {
    text-align: center;
    display: block;
}

.diceGame {
    padding: 20px;
    border: 1px solid black;
}


.rolling {
    animation: roll 1s linear;
}

@keyframes roll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
=======
body{
    text-align: center;
    display: block;
}
.diceGame{
    padding: 20px;
    border: 1px solid black;
>>>>>>> 097607f55283bbd136b31b504ae0ef2ca93a9693
}